<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression">
  
  <listeners>
		<listener class-name="listener.CustomListeners"></listener>
		<listener class-name="listener.ExtentReporterNG"></listener>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
  
  <test name="Window">
	<classes>
		<class name="testcases.care.CareLoginTest" />
	</classes>
  </test> 
</suite>